:root {
  --border: black;
  --fill: #ede7dc;
  --hoverColour: #d9cbc1;
  --checkedColour: #727c96;

  --autonomyFill: var(--fill);
  --autonomyBorder: var(--border);
  --autonomyHover: var(--hoverColour);
  --autonomyHover: var(--hoverColour);
  --autonomyChecked: var(--checkedColour);

  --connectionFill: var(--fill);
  --connectionBorder: var(--border);
  --connectionHover: var(--hoverColour);
  --connectionChecked: var(--checkedColour);

  --growthFill: var(--fill);
  --growthBorder: var(--border);
  --growthHover: var(--hoverColour);
  --growthChecked: var(--checkedColour);
}

input[type="radio"] {
  display: none;
}
#radioform {
  background-color: #f9f3de;
  height: 100vh;
}

#radiobutton1 {
  color: #f6fff0 !important;
  width: 200px;
  margin: auto;
  box-sizing: content-box;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  width: 120px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #4267a1;
  border-radius: 4px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}
#radiobutton1:hover {
  color: white !important;
  background: #7adaf6;
}

*,
* * {
  user-select: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 200px 200px 200px 1fr;
  justify-content: center;
  align-items: center;
}

.column {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-rows: 25px 100px 100px 100px;
  /* height: 100px; */
}

#radiolabel {
  position: relative;
  display: flex;
}

label.autonomy {
  cursor: pointer;
  color: #555;
  display: grid;
  grid-template-columns: 1fr;
  text-align: end;
  font-size: 30px;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}

label.connection {
  cursor: pointer;
  color: #555;
  display: grid;
  grid-template-columns: 1fr;
  text-align: start;
  font-size: 30px;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}

label.growth {
  cursor: pointer;
  color: #555;
  display: grid;
  /* grid-template-areas: "label1 radio1"; */
  grid-template-columns: 1fr;
  text-align: end;
  font-size: 30px;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#radioform {
  display: grid;
  grid-template-rows: 250px 100px;
  justify-items: center;
  padding-top: 5em;
}

.text {
  position: absolute;
  padding: 43px;
  font-size: 1.1rem;
  user-select: none;
}

.textLong {
  position: absolute;
  padding: 40px;
  padding-left: 8px;
  font-size: 1.1rem;
}

/* // Controls general styling. */
span.shape {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 70px;
  border: 3px solid var(--border);
  border-radius: 10px;
  background-color: var(--fill);
  text-align: center;
}

span.growthShape {
  border: 3px solid var(--growthBorder);
  background-color: var(--growthFill);
}

span.connectedShape {
  border: 3px solid var(--growthBorder);
  background-color: var(--growthFill);
}

span.autonomyShape {
  border: 3px solid var(--growthBorder);
  background-color: var(--growthFill);
}

/* Checked colour */
input[type="radio"]:checked ~ span.growthShape {
  background-color: var(--checkedColour);
  text-align: center;
}

input[type="radio"]:checked ~ span.connectionShape {
  background-color: var(--checkedColour);
  text-align: center;
}

input[type="radio"]:checked ~ span.autonomyShape {
  background-color: var(--checkedColour);
  text-align: center;
}

.text:hover + .growthShape {
  background-color: var(--growthHover);
}

.text:hover + .connectionShape {
  background-color: var(--connectionHover);
}

.text:hover + .autonomyShape {
  background-color: var(--autonomyHover);
}

.textLong:hover + .growthShape {
  background-color: var(--growthHover);
}

.textLong:hover + .connectionShape {
  background-color: var(--connectionHover);
}

.textLong:hover + .autonomyShape {
  background-color: var(--autonomyHover);
}

span.connectionShape:hover {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 70px;
  /* border: 3px solid blue; */
  border-radius: 10px;
  background-color: var(--connectionHover);
  text-align: center;
}

span.growthShape:hover {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 70px;
  /* border: 3px solid blue; */
  border-radius: 10px;
  background-color: var(--growthHover);
  text-align: center;
}

span.autonomyShape:hover {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 70px;
  /* border: 3px solid blue; */
  border-radius: 10px;
  background-color: var(--autonomyHover);
  text-align: center;
}
