input[type="radio"] {
    display: none;
}

#heading-autonomy {
    grid-area: heading;
    /* background-color: red; */
}

#heading-autonomy {
    grid-area: heading;
    /* background-color: red; */
}

#heading-autonomy {
    grid-area: heading;
    /* background-color: red; */
}

.row {
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "headingA headingC headingH"
        "columnA columnC columnH"
        "columnA columnC columnH"
        "columnA columnC columnH"
        "submit submit submit";
        
    justify-content: center;
    align-items: center;
}



.column {
    display: flex;
    flex-direction: column;
}


span {
    margin: 10px;
    margin-left: 10px;
    
}


.text {
  pointer-events: none;
}

label.autonomy {
    cursor:pointer;
    color: #555;
    display: grid;
    /* grid-template-areas: "label1 radio1"; */
    grid-template-columns: 1fr 1fr;
    text-align: end;
    font-size: 30px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
                       
}

label.connection {
    cursor:pointer;
    color: #555;
    display: grid;
    /* grid-template-areas: "label1 radio1"; */
    grid-template-columns: 1fr 1fr;
    text-align: end;
    font-size: 30px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
                         
  }

  label.growth {
    cursor:pointer;
    color: #555;
    display: grid;
    /* grid-template-areas: "label1 radio1"; */
    grid-template-columns: 1fr 1fr;
    text-align: end;
    font-size: 30px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
                         
  }


input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
  width: 100px;
  height: 100px;
    border: 3px solid #ff0000;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

input[type="radio"][disabled] + label span {
  background-color: #ececec;
  border: #ececec;
}

input[type="radio"][active] + label span {
   background-color: #ff0000;
}
input[type="radio"][active] + label span:hover {
  /* background-color: #ff0000;
  border: 3px solid #ff0000; */
}

/* input[type="radio"] + label span:hover {
  text-align: center;
  vertical-align: bottom;
} */

input[type="radio"] + label span:focus {
  background-color: #ffffff;
}
input[type="radio"]:not([active]):not([disabled]):not(:checked) + label span:focus::before {
   content: '';
   display: inline-block;
   width: 70%;
   height: 70%;
   border-radius: 50%;
   /* background-color: #ff0000; */
   background-color: green;
   border: 3px solid #ff0000;
   margin-top: calc(100% - 76%);
}

input[type="radio"]:not([active]):not([disabled]):not(:checked) + label span:hover::before {
   content: '';
   display: inline-block;
   width: 70%;
   height: 70%;
   /* border-radius: 50%; */
   background-color: black;
   border: 3px solid #ff0000;
   margin-top: calc(100% - 85%);
}

input[type="radio"] + label span  {
  /* border-radius: 50%; */
}

input[type="radio"][disabled] + label span::before,
input[type="radio"][active] + label span::before,
input[type="radio"]:checked + label span::before {
   /* content: "✓"; */
   color: #ffffff;
   text-align: center;
   font-size: 40px;
}

input[type="radio"]:checked + label span {
    background-color: #ff0000;
    text-align: center;
}