#main__signup_con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 200px;
  margin: auto;
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: #f9f3de;
  color: rgba(87, 87, 87, 0.548);
}
#sign_up_title {
  margin-bottom: 15px;
}
#signup__img {
  height: 90%;
  width: 90%;
}
#signin_form input[type="text"],
[type="password"] {
  padding: 8px;
  width: 250px;
  border: 1px black solid;
  border-radius: 3px;
  margin-bottom: 10px;
}
#email {
  margin-left: 42px;
}
#password {
  margin-left: 10px;
}
#signin_submit {
  color: #f6fff0 !important;
  width: 200px;
  margin: auto;
  box-sizing: content-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  width: 80px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #4267a1;
  border-radius: 4px;
  margin-left: 70px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}
#signin_submit:hover {
  color: white !important;
  background: #7adaf6;
}
@media screen and (max-width: 768px) {
  #main__signup_con {
    display: grid;
    grid-template-columns: auto;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
  }
  #signin_form {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
  }
  #signup__img {
    width: 60%;
    height: 60%;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
