:root {
  --color1: #517d68;
  --color2: #f9f3de;
}

.main {
  background-color: var(--color2);
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 91.7vh;
  background-color: var(--color2);
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
.main__content {
  margin-left: 5rem;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #002c6f 0%, #4267a1 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 2.5rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.main__button {
  font-size: 1rem;
  background: #3ca3f4;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__button a {
  color: #fff;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.main__button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7adaf6;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__button:hover {
  color: #fff;
}

.main__button:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}
#main__img {
  width: 95%;
  height: 95%;
}

/* mobile resoponsive*/
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 92vh;
  }
  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  #main__img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }
  .main__content {
    margin-left: 0;
  }
}
